/* LoginPage.css */

body {
    background-color: rgb(209, 209, 209);
    margin: 0; /* Remove default body margin */
  }
  
  .login-container {
    text-align: center;
    margin-top: 50px; /* Add some top margin */
  }
  
  .form-container {
    width: 300px; /* Set a fixed width for the form container */
    margin: 20px auto; /* Center the form horizontally and add some top margin */
    padding: 20px;
    border: 1px solid #ccc; /* Border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    background-color: #fff; /* Set background color */
  }
  
  .form-container label {
    margin-bottom: 8px; /* Increase margin bottom for labels */
  }
  
  .form-container input {
    width: 100%; /* Make the input fields take full width */
    padding: 8px; /* Add padding for input fields */
    margin-bottom: 15px; /* Increase margin bottom for input fields */
    border: 1px solid #ddd; /* Optional: Add border for input fields */
  }
  
  .form-container button {
    width: 100%; /* Make the button take full width */
    padding: 10px;
    background-color: #4caf50; /* Optional: Add background color */
    color: #fff; /* Optional: Add text color */
    border: none; /* Optional: Remove button border */
    cursor: pointer;
  }
  
  /* Optional: Style the button on hover */
  .form-container button:hover {
    background-color: #45a049;
  }
  